.roti-image {
  display: flex;
  position: absolute;
  top: 20%; /* Atur posisi vertikal ke tengah */
  left: -8%; /* Atur posisi horizontal ke pinggiran kiri */
  /* transform: translate(-65%, -0%); */
  transform: rotate(35deg); /* Membuat gambar roti berada di tengah */
  width: 200px; /* Sesuaikan ukuran gambar sesuai kebutuhan */
  filter: blur(5px);
  overflow: hidden;
  -webkit-user-drag: none;
  pointer-events: none; /* Memberikan efek blur pada gambar roti */
}
.roti-image2 {
  display: flex;
  position: absolute;
  top: 40%; /* Atur posisi vertikal ke tengah */
  left: 90%; /* Atur posisi horizontal ke pinggiran kiri */
  /* transform: translate(-65%, -0%); */
  transform: rotate(35deg); /* Membuat gambar roti berada di tengah */
  width: 300px;
  max-width: 100%; /* Sesuaikan ukuran gambar sesuai kebutuhan */
  filter: blur(8px); /* Memberikan efek blur pada gambar roti */
  overflow: hidden;
  -webkit-user-drag: none;
  pointer-events: none;
}

.card {
  box-shadow: 5.5px 4.1px 2.7px rgba(0, 0, 0, 0.007),
    13.8px 10.4px 6.9px rgba(0, 0, 0, 0.008),
    28.2px 21.3px 14.2px rgba(0, 0, 0, 0.009),
    58px 43.8px 29.2px rgba(0, 0, 0, 0.011),
    159px 120px 80px rgba(0, 0, 0, 0.02);
  padding: 20px;
  border-radius: 20px;
}

h1,
h2 {
  margin-top: 0;
}
